.header{
    background-color: black;
    height: 120px;
}
.logo_header{
    height: 80px;
    margin-left: 20px;
    margin-top: 18px;
    width: 80px;
}
.list_header{
    position: relative;
}
.header_list{
    color: white;
    cursor: pointer;
    float: right;
    font-weight: 500;
    font-size: large;
    list-style: none;
    padding-left: 50px;
    position: relative;
    text-transform: uppercase;
    top: -50px;
}
.header_list:hover{
    color: #FF8000;
}
.footer{
    background-color: black;
    height: 120px;
}
.list_footer{
    padding-top: 35px;
}
.footer_list{
    display: inline;
    list-style: none;
}
.footer_list img{
    height: 40px;
    width: 40px;
}
.logo_footer{
    height: 50px;
    padding-left: 450px;
    width: 50px;
}
#copy{
    color: white;
    float: right;
    margin-top: -35px;
}