.update{
    color: white;
    font-weight: lighter;
    float: right;
    margin-right: 20px;
}
.img_githug{
    position: relative;
}
#spaceship{
    border-radius: 50px;
    float: right;
    height: 500px;
    margin-right: 190px;
    margin-top: -3490px;
    position: relative;
}
#alien{
    float: right;
    height: 500px;
    margin-right: 240px;
    margin-top: -3000px;
    position: relative;
}
#alien2{
    float: right;
    height: 500px;
    margin-right: 240px;
    margin-top: -2500px;
    position: relative;
}
#alien3{
    float: right;
    height: 500px;
    margin-right: 240px;
    margin-top: -2000px;
    position: relative;
}
#alien4{
    float: right;
    height: 500px;
    margin-right: 240px;
    margin-top: -1500px;
    position: relative;
}
#alien5{
    float: right;
    height: 500px;
    margin-right: 240px;
    margin-top: -1000px;
    position: relative;
}
#alien6{
    float: right;
    height: 500px;
    margin-right: 240px;
    margin-top: -500px;
    position: relative;
}