.line {
  margin-bottom: 1rem; }

.line label {
  display: block;
  color: #FF8000;
  font-size: large;
  font-weight: 300; }

input {
  border-radius: 5px;
  border: none;
  height: 30px; }

.mensaje-enviado {
  font-size: medium;
  height: 20px;
  width: 250px; }

.button {
  background-color: black;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 20px; }

.button:hover {
  background-color: white;
  border-radius: 5px;
  border: none;
  color: black;
  padding: 10px; }

.form {
  margin-left: 100px;
  margin-top: 20px;
  padding-bottom: 40px; }

#open {
  margin-left: 100px;
  margin-top: 20px; }

#war {
  float: right;
  margin-right: 350px;
  margin-top: -550px; }
