p {
  list-style: none; }

#repos li {
  list-style: none; }

#repos li a {
  text-decoration: underline;
  color: white; }

.repos_list {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 5px 5px;
  color: white;
  height: 35px;
  font-weight: 500;
  padding-left: 10px;
  padding-top: 10px;
  width: 600px; }

.title {
  color: #FF8000;
  padding-top: 20px;
  margin-left: 40px;
  text-transform: uppercase; }

#img_1 {
  border-radius: 10px;
  float: right;
  height: 400px;
  margin-right: 190px;
  margin-top: -3490px;
  position: relative; }

#img_2 {
  border-radius: 10px;
  float: right;
  height: 400px;
  margin-right: 190px;
  margin-top: -2800px;
  position: relative; }

#img_3 {
  border-radius: 10px;
  float: right;
  height: 400px;
  margin-right: 190px;
  margin-top: -2110px;
  position: relative; }

#img_4 {
  border-radius: 10px;
  float: right;
  height: 400px;
  margin-right: 190px;
  margin-top: -1411px;
  position: relative; }

#img_5 {
  border-radius: 10px;
  float: right;
  height: 400px;
  margin-right: 190px;
  margin-top: -721px;
  position: relative; }
